@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  color: $color-white;
  background-color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.app {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

// Selection
::selection {
  background-color: $color-red;
  color: $color-white;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $color-black;
}

::-webkit-scrollbar-thumb {
  background: $color-red;
  border-radius: 4px;
  
  &:hover {
    background: lighten($color-red, 10%);
  }
}

